<div class="row" *ngIf="!isLoading">
    <div class="col-8">
        <div class="bg-white p-3 rounded">
            <h2 class="fw-bold red">PREDICTIONS</h2>
            <p></p>
            <p>{{AsPredictionsArray()!.length == 0 ? user!.username  + " has no predictions yet" : "Predictions made by @"  + user!.username}}</p>

            <mat-card class="fixture-card my-3" *ngFor="let prediction of AsPredictionsArray()">
                <div class="date">{{AsFixture(prediction).kickOffDate | date: 'medium'}}</div>
                <div class="matchscore my-2">
                    <img src="{{ AsFixture(prediction).homeTeam.logoUrl }}" alt="{{ AsFixture(prediction).homeTeam.name }}" class="team-logo">
                    <div class="score-container">
                        <div class="score-text">
                            <div class="score">{{ prediction.predictedHomeScore }} <span class="actual-score" *ngIf="IsFixtureFinished(AsFixture(prediction))">({{AsFixture(prediction).actualHomeScore}})</span></div>
                            <div class="vs">-</div>
                            <div class="score">{{ prediction.predictedAwayScore }} <span class="actual-score" *ngIf="IsFixtureFinished(AsFixture(prediction))">({{AsFixture(prediction).actualAwayScore}})</span></div>
                        </div>
                    </div>
                    <img src="{{ AsFixture(prediction).awayTeam.logoUrl }}" alt="{{ AsFixture(prediction).awayTeam.name }}" class="team-logo">
                </div>
            </mat-card>
        </div>
    </div>

    <div class="col-4">
        <div class="bg-white p-3 rounded">
            <div class="text-center mb-2">
                <img [src]="user!.avatarUrl" class="profile-image">
            </div>
            <h4 class="profile-username text-center">@{{user!.username}}<span class="ms-2 tag" *ngIf="IsAdmin()">ADMIN</span></h4>
            <mat-divider></mat-divider>

            <ul class="list-unstyled mt-3">
                <li><mat-icon class="me-1">cake</mat-icon>{{user!.birthDate | date: 'mediumDate'}}</li>
                <li><mat-icon class="me-1">call</mat-icon>{{user!.phonenumber}}</li>
            </ul>
        </div>

        <div class="bg-white p-3 my-3 rounded">
            <h4 class="fw-bold red">LEAGUE POINTS</h4>
            <p>{{leagueScores!.length == 0 ? "Predict matches to earn points!" : "Total points in participated leagues"}}</p>

            <mat-card class="league-card p-3 my-3" *ngFor="let league of leagueScores">
                <img mat-card-image class="pool-suggestion-logo me-2" [src]="league._id.league.logoUrl">
                <mat-card-content>
                    <div class="pool-suggestion-name">{{league._id.league.name}}</div>
                    <p>{{league.totalPoints}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="bg-white p-3 my-3 rounded">
            <h4 class="fw-bold red">SUGGESTED POOLS <mat-icon matTooltip="Suggested based on friend's pools" matTooltipPosition="right">help</mat-icon></h4>
            <p *ngIf="AsSuggestedPoolArray().length > 0">Explore and join new pools!</p>
            <p *ngIf="AsSuggestedPoolArray().length == 0">Join a pool to see suggestions!</p>

            <mat-card class="pool-suggestion-card pool-card p-3 my-3" *ngFor="let pool of AsSuggestedPoolArray()" routerLink="/pools/{{pool.id}}">
                <img mat-card-image class="pool-suggestion-logo me-2" [src]="pool!.logoUrl">
                <mat-card-content>
                    <div class="pool-suggestion-name">{{pool.name}}</div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="row justify-content-center" *ngIf="isLoading">
    <div class="col-12 d-flex">
        <mat-spinner class="mx-auto"></mat-spinner>
    </div>
</div>