/* You can add global styles to this file, and also import other style files */
@use "variables" as var;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body {
    font-family: 'DM Sans', sans-serif !important;
}

.color-span {
    color: var.$redMunsell;
}

.btn-footballprophet-create {
    color: #ffffff !important;
    background-color: var.$lightGreen !important;
}

.btn-footballprophet-create:hover {
    background-color: var.$green !important;
}

.btn-footballprophet-delete {
    color: #ffffff !important;
    background-color: var.$redMunsell !important;
}

.btn-footballprophet-delete:hover {
    background-color: var.$lightRed !important;
}

.btn-footballprophet-info {
    color: #ffffff !important;
    background-color: var.$darkBlue !important;
}

.btn-footballprophet-info:hover {
    background-color: var.$lightBlue !important;
}


