<div class="row bg-white rounded p-3 mb-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <div class="breadcrumb">
            <button mat-button routerLink="/">
                <mat-icon class="red-icon">home</mat-icon>
                Home
            </button>
            <mat-icon class="my-auto">chevron_right</mat-icon>
            <button mat-button routerLink="/pools" disabled>
                <mat-icon class="red-icon">sports_soccer</mat-icon>
                Leagues
            </button>
        </div>
        <button mat-raised-button *ngIf="loggedInUser && isAdmin" color="primary" (click)="OpenLeagueCreateDialog()">
            <mat-icon>add</mat-icon> Create League
        </button>
    </div>

    <div class="col-12">
        <h1 class="fw-bold title red">LEAGUES</h1>
        <p>Down below are some of FootballProphets active leagues. Click on a league below to find more information about a specific league</p>
    </div>
</div>

<div class="row bg-white rounded p-3 justify-content-center">
    <a mat-card class="card col-12 mb-4" routerLink="/leagues/{{league._id}}" *ngFor="let league of leagues">
        <img mat-card-image class="logo me-3" [src]="league.logoUrl" [alt]="league.name">
        <mat-card-content>
            <div class="name">{{league.name}}</div>
            <div class="season">{{league.season}}</div>

            <button mat-mini-fab class="fab-button" color="primary">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </mat-card-content>
    </a>

    <button mat-raised-button color="primary" (click)="LoadLeagues()">
        <mat-icon>expand_more</mat-icon>
        Load more
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
    </button>
</div>