<div class="row bg-white rounded p-3 mb-3">
    <div class="col-12">
        <div class="breadcrumb">
            <button mat-button routerLink="/">
            <mat-icon class="red-icon">home</mat-icon>
            Home
            </button>
            <mat-icon class="my-auto">chevron_right</mat-icon>
            <button mat-button routerLink="/leagues">
                <mat-icon class="red-icon">sports_soccer</mat-icon>
                Leagues
            </button>
        </div>

        <h1 class="fw-bold title">LEAGUES</h1>
    </div>
</div>

<div class="row bg-white rounded p-3">
    <mat-card class="card col-3 me-2" routerLink="/leagues/1">
        <img mat-card-image class="logo" src="https://www.flashscore.com/res/image/data/vwC9RGhl-vcNAdtF9.png" alt="Liverpool">
        <mat-card-content>
          <div class="name">Liverpoolfgergdsgd</div>
          <div class="season">2022</div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card col-3 me-2" routerLink="/leagues/1">
        <img mat-card-image class="logo" src="https://www.flashscore.com/res/image/data/vwC9RGhl-vcNAdtF9.png" alt="Liverpool">
        <mat-card-content>
          <div class="name">Liverpoolfgergdsgd</div>
          <div class="season">2022</div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card col-3" routerLink="/leagues/1">
        <img mat-card-image class="logo" src="https://www.flashscore.com/res/image/data/vwC9RGhl-vcNAdtF9.png" alt="Liverpool">
        <mat-card-content>
          <div class="name">Liverpoolfgergdsgd</div>
          <div class="season">2022</div>
        </mat-card-content>
    </mat-card>
</div>