<div class="row container">
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold">Team <span class="color-span">"{{team!.name}}"</span> wijzigen</h1>
            <p>
                Op deze pagina kan er een nieuw team worden toegevoegd. Vul hieronder alle velden correct in en klik op de knop "Toevoegen".
            </p>

            <div class="alert alert-secondary" role="alert">
                Velden met een * zijn verplicht
            </div>
        </div>
    </div>
    


    <div class="row my-2">
        <div class="col-12">
            <form #teamEditForm="ngForm" name="form" (ngSubmit)="submitForm()" class="my-3" novalidate>
                <!-- Name -->
                <div class="mb-3 form-group">
                    <label for="name" class="form-label fw-bold">Naam *</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="name"
                        #name="ngModel" 
                        [(ngModel)]="team!.name" 
                        required 
                        minlength="5"
                        [ngClass]="{
                            'is-invalid': name.invalid && name.touched
                        }"
                    >

                    <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                        <div *ngIf="name.errors!['required']">
                            Team naam is verplicht!
                        </div>
                        <div *ngIf="name.errors!['minlength']">
                            Team naam moet minimaal 5 characters bevatten!
                        </div>
                    </div>
                </div>

                <!-- Logo url -->
                <div class="mb-3 form-group">
                    <label for="logoUrl" class="form-label fw-bold">Logo URL *</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="logoUrl"
                        #logoUrl="ngModel" 
                        [(ngModel)]="team!.logoUrl" 
                        required 
                        minlength="15"
                        [ngClass]="{
                            'is-invalid': logoUrl.invalid && logoUrl.touched
                        }"
                    >

                    <div *ngIf="logoUrl.invalid && logoUrl.touched" class="invalid-feedback">
                        <div *ngIf="logoUrl.errors!['required']">
                            URL van het logo van het team is verplicht!
                        </div>
                        <div *ngIf="logoUrl.errors!['minlength']">
                            URL van het logo van het team moet minimaal 15 karakters bevatten!
                        </div>
                    </div>
                </div>

                <!-- Founded in -->
                <div class="mb-3 form-group">
                    <label for="foundedIn" class="form-label fw-bold">Datum van oprichting *</label>
                    <input 
                        type="date" 
                        class="form-control" 
                        name="foundedIn"
                        #foundedIn="ngModel" 
                        [(ngModel)]="foundedInString" 
                        required 
                    >
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-warning" [disabled]="!teamEditForm.valid">Wijzigen</button>
            </form>

            <pre>
                {{ team | json }}
            </pre>
        </div>
    </div>
</div>