<div class="row">
    <div class="col-12">
        <h1 class="fw-bold px-0">Nieuw account <span class="color-span">aanmaken</span></h1>
        <p class="px-0">Maak een account aan en strijd met je vrienden om wie de beste voetbalkenner is! Vul de gegevens hier onder in en klik op registreren</p>
    
        <div class="alert alert-secondary my-2" role="alert">
            Velden met een <span class="color-span">*</span> zijn verplicht
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <form #loginForm="ngForm" (ngSubmit)="register()" class="row justify-content-center rounded text-start" novalidate>
            <!-- Username -->
            <div class="mb-3 form-group">
                <label class="form-label fw-bold">Gebruikersnaam <span class="color-span">*</span></label>
                <input 
                    type="text"
                    class="form-control"
                    name="username"
                    #username="ngModel" 
                    required
                    minlength="5"
                    [(ngModel)]="newUser!.username" 
                    [ngClass]="{
                        'is-invalid': username.invalid && username.touched,
                        'is-valid':  !username.invalid && username.touched
                    }"
                >

                <div *ngIf="username.invalid && username.touched" class="invalid-feedback">
                    <div *ngIf="username.errors!['required']">
                        Gebruikersnaam is een verplicht veld!
                    </div>

                    <div *ngIf="username.errors!['minlength']">
                        Gebruikersnaam moet minimaal 5 characters bevatten
                    </div>
                </div>
            </div>

            <!-- Password -->
            <div class="mb-3 form-group">
                <label class="form-label fw-bold">Wachtwoord <span class="color-span">*</span></label>
                <div class="input-group">
                    <input 
                        [type]="(isPasswordVisible) ? 'text' : 'password'"
                        class="form-control"
                        name="password"
                        #password="ngModel" 
                        required
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                        [(ngModel)]="newUser!.password" 
                        [ngClass]="{
                            'is-invalid': password.invalid && password.touched,
                            'is-valid':  !password.invalid && password.touched
                        }"
                    >
                    <button class="btn btn-footballprophet-info" type="button" (click)="isPasswordVisible = !isPasswordVisible" >
                        <i class="fa-solid fa-eye" ></i>
                    </button>

                    <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                        <div *ngIf="password.errors!['required']">
                            Wachtwoord is een verplicht veld!
                        </div>
    
                        <div *ngIf="password.errors!['pattern']">
                            Een wachtwoord moet minimaal het volgende bevatten:
    
                            <ul>
                                <li>8 characters</li>
                                <li>1 hoofdletter</li>
                                <li>1 kleine letter</li>
                                <li>1 speciaal character</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Date of birth -->
            <div class="mb-3 form-group">
                <label for="birthDate" class="form-label fw-bold">Geboortedatum <span class="color-span">*</span></label>
                <input 
                    type="date" 
                    class="form-control" 
                    name="dateOfBirth"
                    #birthDate="ngModel" 
                    [(ngModel)]="newUser!.birthDate" 
                    required 
                >

                <div *ngIf="birthDate.invalid && birthDate.touched" class="invalid-feedback">
                    <div *ngIf="birthDate.errors!['required']">
                        Geboortedatum is verplicht!
                    </div>
                </div>
            </div>

            <!-- Phonenumber -->
            <div class="mb-5 form-group">
                <label class="form-label fw-bold">Telefoonnummer <span class="color-span">*</span></label>
                <input 
                    type="text"
                    class="form-control"
                    name="phonenumber"
                    #phonenumber="ngModel" 
                    required
                    pattern="^\+?\d{1,4}?[-.\s]?\(?\d{1,3}?\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}$"
                    [(ngModel)]="newUser!.phonenumber" 
                    [ngClass]="{
                        'is-invalid': phonenumber.invalid && phonenumber.touched,
                        'is-valid':  !phonenumber.invalid && phonenumber.touched
                    }"
                >

                <div *ngIf="phonenumber.invalid && phonenumber.touched" class="invalid-feedback">
                    <div *ngIf="phonenumber.errors!['required']">
                        Telefoonnummer is een verplicht veld!
                    </div>

                    <div *ngIf="phonenumber.errors!['pattern']">
                        Telefoonnummer is in een verkeerd formaat (bijv. +31 6 12345678)
                    </div>
                </div>


            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-footballprophet-create" [disabled]="!loginForm.valid">Registreren</button>
            </div>
        </form>
    </div>
</div>
