<div class="row home-header rounded">
    <div class="col-lg-5 col-md-10 col-12 home-header-content p-3">
        <div class="mt-4 my-auto">
            <div class="bg-dark p-3">
                <h1 class="fw-bold home-title">Ben jij een ware <span class="color-span">Footballprophet</span>?</h1>

                <p>
                    Maak een account en strijd met je vrienden om wie het <span class="color-span">beste</span> wedstrijden kan voorspellen!
                </p>
            </div>
        </div>          
    </div>
</div>