.example-spacer {
  flex: 1 1 auto;
}

.avatarButton {
  background-size: cover;
  background-position: center;
}

.fp-nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.0rem;
  border-bottom: 2px solid #fff !important;
  color: white;
  display: flex;

  &:hover {
    border-bottom: 2px solid #ff1507 !important;
  }
}

mat-icon {
  color: #ff1507 !important;
}