<div class="row">
    <div class="col-12 col-lg-8 rounded border shadow-sm bg-light p-4 me-3">
        <div class="d-flex flex-column flex-lg-row">
            <h1 class="fw-bold color-span">Spelers</h1>
    
            <a class="btn btn-footballprophet-create d-inline my-auto ms-lg-auto">
                <i class="fa-solid fa-plus me-2"></i>Toevoegen
            </a>
        </div>
    
        <p class="pt-4 pt-lg-0">Dit is het overzicht van de spelers. Klik op een speler om meer informatie te achterhalen</p>
    
        <div class="table-responsive">
            <table class="table table-striped" style="white-space: nowrap">
                <thead>
                    <tr>
                        <th scope="col">Naam</th>
                        <th scope="col">Nationaliteit</th>
                        <th scope="col">Verwijderen</th>
                        <th scope="col">Bekijken</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let player of players">
                        <td>{{ player.name }}</td>
                        <td>{{ player.nationality }}</td>
                        <td>
                            <button type="button" (click)="DeletePlayer(player.id)" class="btn btn-footballprophet-delete ms-2">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-footballprophet-info ms-2" routerLink="/players/{{player.id}}">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-12 col-lg-3 text-center rounded border shadow-sm bg-light p-4">
        <router-outlet></router-outlet>
    </div>
</div>




