<div class="row">
    <div class="col-12 col-lg-9">
        <h1 class="fw-bold"><span class="color-span">Football</span>prophet</h1>
        <small>
            Deze applicatie is gemaakt in het kader van het vak 'Clientside web
            frameworks' van Avans Hogeschool Breda.
        </small>
        <hr />
        <p>
            FootballProphet is een platform waar je met je vrienden onderling kan strijden 
            om wie het beste wedstrijden voor verschillende competities kan voorspellen.
            De website moet als volgt werken: Een gebruiker kan een account aanmaken. 
            Vervolgens kunnen zij of een poule aanmaken, of aan een bestaande poule 
            deelnemen. Tot een halve dag voor een wedstrijd kan een gebruiker een 
            voorspelling neerzetten voor relevante wedstrijden. Ze kunnen hierbij punten 
            verdienen op basis van het opgegeven resultaat, en welk team er uiteindelijk 
            wint.
            Wedstrijden, competities, teams en spelers kunnen toegevoegd, verwijderd en 
            gewijzigd worden door een administrator van de applicatie. Ook vult een 
            administrator de uiteindelijke score van een wedstrijd in zodat de punten 
            toegekend kunnen worden.
        </p>
    </div>

    <div class="col-12 col-lg-3 p-4">
        <div class="card">
            <div class="d-flex justify-content-center align-items-center px-3 py-3">
                <img
                    src="/assets/img/zakelijk.png"
                    class="card-img-top rounded-circle border px-4 py-4"
                    alt="..."
                />
            </div>
            <div class="card-body">
                <h5 class="card-title fw-bold">Tristan Goossens</h5>
                <p class="card-text">Studentnummer: 2188507</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <h2 class="fw-bold">Domein <span class="color-span">entiteiten</span></h2>
        <p>
            Hieronder zijn de domeinentiteiten van de applicatie weergegeven in een ERD. Ook zijn de relaties tussen de verschillende
            entiteiten weergegeven. Onder het diagram zijn de verschillende entiteiten toegelicht en word er per veld aangegeven wat
            het datatype is.
        </p>
        <hr />
        

        <img class="img-fluid mb-5" src="/assets/img/ERD.png" />

        <h3 class="fw-bold"><span class="color-span">Entiteiten</span> in systeem</h3>
        <p>
            In dit kopje worden de entiteiten uit het diagram verder toegelicht en word er per attribuut aangegeven wat het datatype van het
            attribuut is. Elk entiteit kent een uniek ID, en enkele timestamps voor het bijhouden van wanneer een entiteit is aangemaakt of 
            gewijzigd.
        </p>
        <hr />
        
        <div class="container">
            <div class="row">
                <div class="card col-12 col-md-6 col-lg-3 mx-3">
                    <div class="card-header">
                        Player
                    </div>
                    <div class="card-body">
                        <li>Name: string</li>
                        <li>DateOfBirth: Date</li>
                        <li>Nationality: string</li>
                        <li>Position: Position (enum)</li>
                        <li>Photo: string (url)</li>
                    </div>
                </div>

                <div class="card col-12 col-md-6 col-lg-3 mx-3">
                    <div class="card-header">
                        Team
                    </div>
                    <div class="card-body">
                        <li>Name: string</li>
                        <li>LogoURL: string</li>
                        <li>FoundedIn: Date</li>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="row my-5">
    <div class="col">
        <h2 class="fw-bold"><span class="color-span">User</span>-stories</h2>
        <p>
            Hieronder zijn de user-stories van de applicatie weergegeven. De user-stories zijn opgesteld aan de hand van de
            requirements van de opdrachtgever. De user-stories zijn opgesteld in de vorm van een tabel. In de tabel is per user-story
            aangegeven voor wie de userstory is bedoeld, wat het doel is en wat de acceptatiecriteria zijn. Eventueel worden punten uit de
            user-story toegelicht.
        </p>
        <hr />
        
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th class="col">Nr</th>
                    <th class="col-6">Userstory</th>
                    <th class="col">Evt toelichting</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">US_01</td>
                    <td>
                        Als gebruiker wil ik een account kunnen aanmaken om aan een 
                        bestaande poule te kunnen deelnemen zodat ik met mijn vrienden kan strijden 
                        om wie het beste voetbalwedstrijden kan voorspellen.
                    </td>
                    <td>Aan een poule kun je deelnemen met een URL</td>
                </tr>
                <tr>
                    <td scope="row">US_02</td>
                    <td>
                        Als gebruiker wil ik een poule kunnen aanmaken om zo samen met mijn 
                        vrienden de strijd aan te gaan voor de beste voetbalkenner
                    </td>
                    <td>....</td>
                </tr>
                <tr>
                    <td scope="row">US_03</td>
                    <td>
                        Als gebruiker wil ik een voorspelling voor een aankomende wedstrijd 
                        kunnen maken om zo punten te verdienen en de poule te winnen
                    </td>
                    <td>Een voorspelling is algemeen dus een gebruiker maakt 1 voorspelling per wedstrijd</td>
                </tr>
                <tr>
                    <td scope="row">US_04</td>
                    <td>
                        Als gebruiker wil ik informatie van teams, competities en spelers kunnen 
                        achterhalen zodat ik mijn voorspellingen met voorkennis kan maken en zo zoveel 
                        mogelijk punten kan verdienen
                    </td>
                    <td>....</td>
                </tr>
                <tr>
                    <td scope="row">US_05</td>
                    <td>
                        Als gebruiker wil ik poules van andere gebruikers kunnen zien, zodat ik 
                        hier eventueel aan deel kan nemen (hangt af of deze poule prive is).                        
                    </td>
                    <td>....</td>
                </tr>
                <tr>
                    <td scope="row">US_06</td>
                    <td>
                        Als administrator wil ik een wedstrijd tussen twee teams kunnen 
                        inplannen, zodat gebruikers hier een voorspelling op kunnen maken.
                    </td>
                    <td>....</td>
                </tr>
                <tr>
                    <td scope="row">US_07</td>
                    <td>
                        Als administrator wil ik competities kunnen maken, daaraan teams en 
                        spelers kunnen toevoegen zodat gebruikers van het platform meer achtergrond 
                        informatie kunnen achterhalen en een betere voorspelling kunnen maken
                    </td>
                    <td>....</td>
                </tr>
                <tr>
                    <td scope="row">US_08</td>
                    <td>
                        Als administrator wil ik een overzicht van poules per competitie kunnen 
                        zien, onafhankelijk van het feit of deze privé is zodat ik een inzicht kan krijgen 
                        wie er allemaal meedoen
                    </td>
                    <td>....</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
