<header class="login-header row justify-content-center d-flex">
   <div class="rounded col-9 col-lg-4 m-auto p-4 text-center content-box">
        <img class="img-fluid mb-2" src="assets/img/logo-fp.png" />
        <h3 class="fw-bold mb-3">Inloggen</h3>
        <hr />

        <form #loginForm="ngForm" (ngSubmit)="login()" class="row justify-content-center rounded text-start" novalidate>
            <div class="mb-3 form-group">
                <label class="form-label fw-bold">Gebruikersnaam <span class="color-span">*</span></label>
                <input 
                    type="text"
                    class="form-control"
                    name="username"
                    #username="ngModel" 
                    required
                    [(ngModel)]="userData!.username" 
                    [ngClass]="{
                        'is-invalid': username.invalid && username.touched
                    }"
                >

                <div *ngIf="username.invalid && username.touched" class="invalid-feedback">
                    <div *ngIf="username.errors!['required']">
                        Gebruikersnaam is een verplicht veld!
                    </div>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label class="form-label fw-bold">Wachtwoord <span class="color-span">*</span></label>
                <input 
                    type="password"
                    class="form-control"
                    name="password"
                    #password="ngModel" 
                    required
                    [(ngModel)]="userData!.password" 
                    [ngClass]="{
                        'is-invalid': password.invalid && password.touched
                    }"
                >

                <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                    <div *ngIf="password.errors!['required']">
                        Wachtwoord is een verplicht veld!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-footballprophet-create" [disabled]="!loginForm.valid">Inloggen</button>
            </div>
        </form>
   </div>  
</header>